<!DOCTYPE html>
<html>
<head>
    <title>Programming Language Popularity</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="javascripts/script.js" defer></script>
</head>
<body>
    <header>
        <div class="content">
            <h1>Programming Language Popularity</h1>
            <h1 class="shadow">Programming Language Popularity</h1>
        </div>   
    </header>

    <div class="container">
    <h1>File Upload</h1>
    <a href="docs/data.csv" download="template.csv">Download CSV</a>
    <p>(Upload your data.csv file)</p>
    <input type="file" id="csvFile" accept=".csv">
    <button id="uploadForm">Upload</button>
    <button id="convert">Convert to Json</button>
    <h2>Top 5 Programming Languages Popularity</h2>
    <div id="tableContainer"></div>

    <div class="chart-container">
        <h2>Line Chart:</h2>
        <canvas id="lineChart"></canvas>
    </div>

    <div class="chart-container">
        <h2>Bar Chart:</h2>
        <canvas id="barChart"></canvas>
    </div>
    <footer>
        <p>&copy; 2023 King Yin Pang 301268737. All rights reserved.</p>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>